{% extends 'base.html' %}
{% load static %}

{% block content %}
	<main class="py-5 my-5">
		<h1>Logowanie</h1>
		<p>Wypełnij poniższy formularz, aby się zalogować:</p>
		<form action="." method="post">
			<div class="form-group">
				{{ form.username.errors }}
				<label for="{{ form.username.id_for_label }}">Login</label>
				{{ form.username }}
			</div>
			<div class="form-group">
				{{ form.password.errors }}
				<label for="{{ form.password.id_for_label }}">Hasło</label>
				{{ form.password }}
			</div>

			{% csrf_token %}
			<input type="hidden" name="next" value="{{ next }}" />
			<p><input type="submit" class="btn btn-primary mb-2" value="Zaloguj"></p>
		</form>
	</main>
{% endblock content %}