{% extends 'przepisowo/base.html' %}
{% load static %}


{% block content%}


	<main>
		
		<section>
			
			<div class="row my-5">
				
				<div class="col-sm-6 col-lg-3">
					<a href="{% url 'recipe' %}">
					<img class="thumbnail" src="{% static 'images/breakfast.jpg' %}">						
					<div class="box-element product">
						
						<h6 class="recipe-title"><strong>Śniadanie</strong></h6 class="recipe-title">

					</div>
					</a>
				</div>
				<div class="col-sm-6 col-lg-3">
					
					<img class="thumbnail" src="{% static 'images/dinner.jpg' %}">				
					<div class="box-element product">
						
						<h6 class="recipe-title"><strong>Obiad</strong></h6 class="recipe-title">		

					</div>

				</div>
				<div class="col-sm-6 col-lg-3">
					
					<img class="thumbnail" src="{% static 'images/supper.jpg' %}">		
					<div class="box-element product">
						
						<h6 class="recipe-title"><strong>Kolacja</strong></h6 class="recipe-title">					

					</div>

				</div>
				<div class="col-sm-6 col-lg-3">
					
					<img class="thumbnail" src="{% static 'images/dessert.jpeg' %}">		
					<div class="box-element product">
						
						<h6 class="recipe-title"><strong>Deser</strong></h6 class="recipe-title">					

					</div>

				</div>
				<div class="col-sm-6 col-lg-3">
						
					<img class="thumbnail" src="{% static 'images/breakfast.jpg' %}">						
					<div class="box-element product">
						
						<h6 class="recipe-title"><strong>Śniadanie</strong></h6 class="recipe-title">

					</div>

				</div>
				<div class="col-sm-6 col-lg-3">
					
					<img class="thumbnail" src="{% static 'images/dinner.jpg' %}">				
					<div class="box-element product">
						
						<h6 class="recipe-title"><strong>Obiad</strong></h6 class="recipe-title">		

					</div>

				</div>
				<div class="col-sm-6 col-lg-3">
					
					<img class="thumbnail" src="{% static 'images/supper.jpg' %}">		
					<div class="box-element product">
						
						<h6 class="recipe-title"><strong>Kolacja</strong></h6 class="recipe-title">					

					</div>

				</div>
				<div class="col-sm-6 col-lg-3">
					
					<img class="thumbnail" src="{% static 'images/dessert.jpeg' %}">		
					<div class="box-element product">
						
						<h6 class="recipe-title"><strong>Deser</strong></h6 class="recipe-title">					

					</div>

				</div>
				<div class="col-sm-6 col-lg-3">
						
					<img class="thumbnail" src="{% static 'images/breakfast.jpg' %}">						
					<div class="box-element product">
						
						<h6 class="recipe-title"><strong>Śniadanie</strong></h6 class="recipe-title">

					</div>

				</div>
				<div class="col-sm-6 col-lg-3">
					
					<img class="thumbnail" src="{% static 'images/dinner.jpg' %}">				
					<div class="box-element product">
						
						<h6 class="recipe-title"><strong>Obiad</strong></h6 class="recipe-title">		

					</div>

				</div>
				<div class="col-sm-6 col-lg-3">
					
					<img class="thumbnail" src="{% static 'images/supper.jpg' %}">		
					<div class="box-element product">
						
						<h6 class="recipe-title"><strong>Kolacja</strong></h6 class="recipe-title">					

					</div>

				</div>
				<div class="col-sm-6 col-lg-3">
					
					<img class="thumbnail" src="{% static 'images/dessert.jpeg' %}">		
					<div class="box-element product">
						
						<h6 class="recipe-title"><strong>Deser</strong></h6 class="recipe-title">					

					</div>

				</div>
				<div class="col-sm-6 col-lg-3">
					
					<img class="thumbnail" src="{% static 'images/dessert.jpeg' %}">		
					<div class="box-element product">
						
						<h6 class="recipe-title"><strong>Deser</strong></h6 class="recipe-title">					

					</div>

				</div>
				<div class="col-sm-6 col-lg-3">
						
					<img class="thumbnail" src="{% static 'images/breakfast.jpg' %}">						
					<div class="box-element product">
						
						<h6 class="recipe-title"><strong>Śniadanie</strong></h6 class="recipe-title">

					</div>

				</div>
				<div class="col-sm-6 col-lg-3">
					
					<img class="thumbnail" src="{% static 'images/dinner.jpg' %}">				
					<div class="box-element product">
						
						<h6 class="recipe-title"><strong>Obiad</strong></h6 class="recipe-title">		

					</div>

				</div>
				<div class="col-sm-6 col-lg-3">
					
					<img class="thumbnail" src="{% static 'images/supper.jpg' %}">		
					<div class="box-element product">
						
						<h6 class="recipe-title"><strong>Kolacja</strong></h6 class="recipe-title">					

					</div>

				</div>
				<div class="col-sm-6 col-lg-3">
					
					<img class="thumbnail" src="{% static 'images/dessert.jpeg' %}">		
					<div class="box-element product">
						
						<h6 class="recipe-title"><strong>Deser</strong></h6 class="recipe-title">					

					</div>

				</div>
			</div>

		</section>

	</main>


{% endblock content %}